.About {

    height: 900px;
    width: auto;
    background-size: cover;
    
    background-position: fixed;
    background-attachment: center;
    background-image: linear-gradient(rgba(48, 79, 79, 0.582), rgba(94, 153, 153, 0.582)), url('https://images.unsplash.com/photo-1547631785-dada59885aab?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fHBpYW5vfGVufDB8fDB8fHww&auto=format&fit=crop&w=600&q=60');

}


/* linear-gradient(rgba(48, 79, 79, 0.582), rgba(94, 153, 153, 0.582)),  */