.About {

    height: 900px;
    width: auto;
    background-size: cover;
    
    background-position: fixed;
    background-attachment: center;
    background-image: linear-gradient(rgba(52, 77, 77, 0.582), rgba(94, 153, 153, 0.582)), url('https://plus.unsplash.com/premium_photo-1682893682272-46534e543c50?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8cGlhbm98ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=600&q=60');

}


/* linear-gradient(rgba(48, 79, 79, 0.582), rgba(94, 153, 153, 0.582)),  */